<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.kcal %>kcal</p>
         <%= tweet.day %>
      <span class="name">
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
</div>